# Purpose : Form Kubernetes Deployment Object
# Required Kubernetes API Resource
#   NAME             SHORTNAMES  APIVERSION  NAMESPACED  KIND
#   deployments      deploy      apps/v1     true        Deployment
#
apiVersion: apps/v1            # Set API resource
kind: Deployment               # Set object kind
metadata:
  name: mysql                  # Set object name
  namespace: mysql             # Object is in effect in Namespace "mysql" 
  annotations:
    creator/author: "Thomas Rausch, Atos"   # Set creator/author
    version: "2025-12-02"                   # Set version
    description: "Create Deployment for Service with label 'app=mysql'"  # Set description
  labels:
    app: mysql                              # Set object label 'app=mysql'
spec:
  selector:
    matchLabels:
      app: mysql                            # Select objects with label 'app=mysql'
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
      - image: mysql:latest
        name: mysql
        env:
        - name: MYSQL_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mysql-secret
              key: password
        ports:
        - containerPort: 3306
          name: mysql
        volumeMounts:
        - name: volume-mysql                                    # Set name of parent volume of the volumeMount; must match the volumes.name in this YAML file
          mountPath: /mnt/mysql                                 # Set local mount path of the volumeMount
        resources:              
          requests:                                             # Set Pod resource requests
            cpu: "20m"
            memory: "500Mi"
          limits:                                               # Set Pod resource limits
            cpu: "100m"
            memory: "1000Mi"
      volumes:
      - name: volume-mysql                                      # Set name of volume
        persistentVolumeClaim:
          claimName: local-storage-mysql                        # Set name of parent PersistentVolumeClaim; parent PersistentVolumeClaim must exist
---
apiVersion: v1
kind: Service
metadata:
  name: mysql-clusterip
  namespace: mysql
  labels:
    app: mysql
spec:
  type: ClusterIP
  ports:
    - name: mysql
      port: 3306
      targetPort: 3306
      protocol: TCP
  selector:
    app: mysql
---
# apiVersion: v1
# kind: Service
# metadata:
#  name: mysql
#  namespace: mysql
# spec:
#  type: NodePort
#  ports:
#    - name: mysql-node-port
#      port: 3306
#      targetPort: 3306
#      protocol: TCP
 # selector:
 #   app: mysql

