# Purpose     : Form Kubernetes Object
# Object Kind : NetworkPolicy
# Object Name : allow-ingress_egress-ns_label_name=mysql
# Description : Allow all Ingress and Egress network traffic with the namespace with the label "name=mysql"
# Author      : Tom Rausch, Atos
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy                               # Set object kind
metadata:
  name: allow-ingress_egress-ns_label_name=mysql  # Set object name
  namespace: mysql                                # Form Network Policy in Namesapce "mysql"; it applies to all Pods in this Namespace
spec:
  podSelector: {}                                 # Select all Pods in the Namespace
  policyTypes:
    - Ingress                                     # Select Policy Types "Ingress" and "Egress"
    - Egress
  ingress:
    - from:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: mysql  # Allow Ingress traffic from Namespace with label "kubernetes.io/metadata.name=mysql"
  egress:
    - to:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: mysql  # Allow Egress traffic to Namespace with label "kubernetes.io/metadata.name=mysql"
