apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: "2025-11-11T04:45:30Z"
  name: deployment-clusterrole
  uid: f38e5ff0-107a-4029-a2c5-6608d8707ca0
rules:
- apiGroups:
  - apps
  resources:
  - deployments
  - statefulsets
  - daemonsets
  verbs:
  - create
